.slider {
            width: 100%;
            overflow: hidden;
            position: relative;
        }
        .slide-track {
            display: flex;
            width: calc(100% * 10); /* Adjust based on the number of images duplicated */
            animation: scroll 40s linear infinite;
        }
        .slide {
            width: calc(100% / 10); /* Adjust based on the number of images duplicated */
            flex-shrink: 0;
        }
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-100% / 2)); } /* Adjust based on the number of images duplicated */
        }